JaxWTopDownCXF/src/main/resources/wsdl/EmployeeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://employee.ws.ca.com.tr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://employee.ws.ca.com.tr/" name="EmployeeService">
<types>
<xsd:schema>
<xsd:import namespace="http://employee.ws.ca.com.tr/" schemaLocation="http://localhost:8080/JaxWsBottomUp/EmployeeService?xsd=1"/>
</xsd:schema>
</types>
<message name="getEmployee">
<part name="parameters" element="tns:getEmployee"/>
</message>
<message name="getEmployeeResponse">
<part name="parameters" element="tns:getEmployeeResponse"/>
</message>
<message name="EmployeeNotFoundException">
<part name="fault" element="tns:EmployeeNotFound"/>
</message>
<message name="getEmployees">
<part name="parameters" element="tns:getEmployees"/>
</message>
<message name="getEmployeesResponse">
<part name="parameters" element="tns:getEmployeesResponse"/>
</message>
<message name="addEmployee">
<part name="parameters" element="tns:addEmployee"/>
</message>
<message name="addEmployeeResponse">
<part name="parameters" element="tns:addEmployeeResponse"/>
</message>
<message name="EmployeeAlreadyExistsException">
<part name="fault" element="tns:EmployeeAlreadyExists"/>
</message>
<message name="updateEmployee">
<part name="parameters" element="tns:updateEmployee"/>
</message>
<message name="updateEmployeeResponse">
<part name="parameters" element="tns:updateEmployeeResponse"/>
</message>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"/>
</message>
<message name="findEmployees">
<part name="parameters" element="tns:findEmployees"/>
</message>
<message name="findEmployeesResponse">
<part name="parameters" element="tns:findEmployeesResponse"/>
</message>
<message name="SOAPException">
<part name="fault" element="tns:SOAPException"/>
</message>
<portType name="EmployeeService">
<operation name="getEmployee">
<input wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/getEmployeeRequest" message="tns:getEmployee"/>
<output wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/getEmployeeResponse" message="tns:getEmployeeResponse"/>
<fault message="tns:EmployeeNotFoundException" name="EmployeeNotFoundException" wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/getEmployee/Fault/EmployeeNotFoundException"/>
</operation>
<operation name="getEmployees">
<input wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/getEmployeesRequest" message="tns:getEmployees"/>
<output wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/getEmployeesResponse" message="tns:getEmployeesResponse"/>
</operation>
<operation name="addEmployee">
<input wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/addEmployeeRequest" message="tns:addEmployee"/>
<output wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/addEmployeeResponse" message="tns:addEmployeeResponse"/>
<fault message="tns:EmployeeAlreadyExistsException" name="EmployeeAlreadyExistsException" wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/addEmployee/Fault/EmployeeAlreadyExistsException"/>
</operation>
<operation name="updateEmployee">
<input wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/updateEmployeeRequest" message="tns:updateEmployee"/>
<output wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/updateEmployeeResponse" message="tns:updateEmployeeResponse"/>
<fault message="tns:EmployeeNotFoundException" name="EmployeeNotFoundException" wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/updateEmployee/Fault/EmployeeNotFoundException"/>
</operation>
<operation name="deleteEmployee">
<input wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/deleteEmployeeRequest" message="tns:deleteEmployee"/>
<output wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
<fault message="tns:EmployeeNotFoundException" name="EmployeeNotFoundException" wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/deleteEmployee/Fault/EmployeeNotFoundException"/>
</operation>
<operation name="findEmployees">
<input wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/findEmployeesRequest" message="tns:findEmployees"/>
<output wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/findEmployeesResponse" message="tns:findEmployeesResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://employee.ws.ca.com.tr/EmployeeService/findEmployees/Fault/SOAPException"/>
</operation>
</portType>
<binding name="EmployeePortBinding" type="tns:EmployeeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="EmployeeNotFoundException">
<soap:fault name="EmployeeNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="EmployeeAlreadyExistsException">
<soap:fault name="EmployeeAlreadyExistsException" use="literal"/>
</fault>
</operation>
<operation name="updateEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="EmployeeNotFoundException">
<soap:fault name="EmployeeNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="EmployeeNotFoundException">
<soap:fault name="EmployeeNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="findEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
</binding>
<service name="EmployeeService">
<port name="EmployeePort" binding="tns:EmployeePortBinding">
<soap:address location="http://localhost:8080/JaxWsBottomUp/EmployeeService"/>
</port>
</service>
</definitions>